PUBLIC_SANITY_PROJECT_ID="kshtq64w"
PUBLIC_SANITY_DATASET="production"
PUBLIC_SITE_URL="https://amberhome.lv"
SANITY_API_READ_TOKEN=""
SANITY_API_WRITE_TOKEN=""
CONTACT_SMTP_HOST=""
CONTACT_SMTP_PORT="465"
CONTACT_SMTP_SECURE="true"
CONTACT_SMTP_USER=""
CONTACT_SMTP_PASS=""
# Contact form recipient is fixed in code to info@amberhome.lv.
CONTACT_FROM_EMAIL=""
REBUILD_WEBHOOK_TOKEN=""
REBUILD_DEBOUNCE_MS="60000"
