PUBLIC_SANITY_PROJECT_ID="kshtq64w"
PUBLIC_SANITY_DATASET="production"
SANITY_API_READ_TOKEN=""
CONTACT_SMTP_HOST=""
CONTACT_SMTP_PORT="465"
CONTACT_SMTP_SECURE="true"
CONTACT_SMTP_USER=""
CONTACT_SMTP_PASS=""
CONTACT_TO_EMAIL=""
CONTACT_FROM_EMAIL=""
REBUILD_WEBHOOK_TOKEN=""
REBUILD_DEBOUNCE_MS="60000"
